@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fffec3;
}

header {
    background-color: #80804c;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header li:hover {
    background-color: #dfdea5;
    border-radius: 5px;
    border-width: 3px;
    transition: 0.5s;
    padding: 4px;
}

nav ul{
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}


main{
    padding: 20px;
    overflow: hidden;
}
  
  #app {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #cart, #products {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }
  
  #cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  #cart-items li {
    margin-bottom: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  